{% load static %}




<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Weather Detector | Home</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    <style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}

.header {
  padding: 2px;
  font-size: 40px;
  text-align: center;
  background: white;
}

.leftcolumn {
  float: left;
  width: 100%;
}

.card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
a{
text-decoration:none;
color:#000000;
}

#logo a{
    font-size:3rem;
    color:#FFFFFF;
}
.row{
margin-bottom:1rem;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
</style>

</head>

<body>

  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex justify-content-between align-items-center">

      <div id="logo">
        <a href="index.html">Weather</a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About US</a></li>
            {% if user.is_authenticated %}
            <li><a class="nav-link scrollto" href="logout">Logout</a></li>
            {% else %}
                <li><a class="nav-link scrollto" href="login">Login</a></li>
            {% endif %}
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
    </div>
  </header>

  <section id="hero">
    <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
      <h1>Welcome, {{user.username}} </h1>
      <h2>We are team of talented people</h2>
      <a href="#about" class="btn-get-started">Learn More</a>
      {% if user.is_authenticated %}
      <div style="margin-bottom:10rem;" class="row">

            <div class="leftcolumn">
              <form action="" method="post">
              {% csrf_token %}
                <input type="text" class="form-control" name="city" placeholder="Search">
                  <input class="btn-get-started" type="submit">
              </form>
              {% if data.country_code %}
                <div class="card">
                    <h1 style="color:red;">{{city}}</h1>
                    <h3>country code : {{data.country_code}}</h3>
                      <h5>coordinate : {{data.coordinate}}</h5>
                      <h5>temp : {{data.temp}}</h5>
                      <h5>pressure : {{data.pressure}}</h5>
                      <h5>humidity : {{data.humidity}}</h5>
                </div>
              {% endif %}
            </div>

        </div>
  {% endif %}
    </div>
  </section>

<!--  {% if user.is_authenticated %}-->
<!--      <div class="row">-->

<!--            <div class="leftcolumn">-->
<!--              <form action="" method="post">-->
<!--              {% csrf_token %}-->
<!--                <input type="text" class="form-control" name="city" placeholder="Search">-->
<!--                  <input class="btn-get-started" type="submit">-->
<!--              </form>-->
<!--              {% if data.country_code %}-->
<!--                <div class="card">-->
<!--                    <h1>{{city}}</h1>-->
<!--                    <h3>country code : {{data.country_code}}</h3>-->
<!--                      <h5>coordinate : {{data.coordinate}}</h5>-->
<!--                      <h5>temp : {{data.temp}}</h5>-->
<!--                      <h5>pressure : {{data.pressure}}</h5>-->
<!--                      <h5>humidity : {{data.humidity}}</h5>-->
<!--                </div>-->
<!--              {% endif %}-->
<!--            </div>-->

<!--        </div>-->
<!--  {% endif %}-->

  <footer id="footer">
    <div class="footer-top">
      <div class="container">

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Weather</strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://regishshrestha.com.np/">Regish Shrestha</a>
      </div>
    </div>
  </footer>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <script src="{% static 'assets/vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>